{% if pgm['assessments']|length != 0: %}
<table class = "table">
    <thead>
        <tr>
            <th align = "left">Assessment ID</th>
            <th align = "left">Assessment Name</th>
            <th align = "left">Student Completion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for assessment in pgm['assessments']: %}
        <tr >
            <td align= 'left'>
                {{assessment['module_id']}}
            </td>
            <td>
                {{assessment['module_name']}}
            </td>
            <td>
                {{assessment['module_progress']}}
            </td>
            <td> <button type = "button" class="btn btn-basic btn-sm" data-toggle="collapse" data-target="#edit_{{assessment['module_id']}}Status"> <span class="glyphicon glyphicon-edit"></span> Edit Module Progress </button>
            </td>
        </tr>
        <tr>
            <td colspan="12" class="hiddenRow">
                <div class="collapse" id="edit_{{assessment['module_id']}}Status">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id = "update_{{assessment['module_id']}}Status" action="{{'/admin/students/studentdetails?updateStatus=true&category=module&studentid=%s&id=%s' %(studentid, assessment['module_id'])}}" method='POST'>
                                <p>Please select module status for the student:</p>
                                {% if assessment['module_progress'] == "complete" %}
                                <input type="radio" id = "{{assessment['module_id']}}_comp" name="mod_status" value="1" checked>
                                <label for="{{assessment['module_id']}}_comp">Mark complete</label><br>
                                <input type="radio" id="{{assessment['module_id']}}_inc" name="mod_status" value="0">
                                <label for="{{assessment['module_id']}}_inc">Mark incomplete</label><br>
                                {% else %}
                                <input type="radio" id = "{{assessment['module_id']}}_comp" name="mod_status" value="1">
                                <label for="{{assessment['module_id']}}_comp">Mark complete</label><br>
                                <input type="radio" id="{{assessment['module_id']}}_inc" name="mod_status" value="0" checked>
                                <label for="{{assessment['module_id']}}_inc">Mark incomplete</label><br>
                                {% endif %}


                                <button type="submit" form="update_{{assessment['module_id']}}Status" value="Submit">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% else %}
    No assessments within this program.
{% endif %}
