<!DOCTYPE html>

<html>
    <head>
        <title> Outdoor Equity Alliance: Admin Interface</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    </head>

    <body>
        <h1> Outdoor Equity Alliance: Admin Interface </h1>
        <h2> Programs </h2>

        <hr>

        <!-- display list of existing programs -->
        <!-- <form action="/admin/edit/program/name" method = 'POST'> -->
            <table class = "table">
                <!-- row 1, containing names of each column -->
                <tr>
                    <th align = "left">ID</th>
                    <th align = "left">Name</th>
                    <!-- <th align = "left">Description</th> -->
                    <th align = "left">Availability</th>
                </tr>

                        <!-- rows of programslist -->
                        <!-- each row only displays program name -->
                {% if programslist|length != 0: %}
                    {% for program in programslist: %}
                        <tr>
                            <!-- col 1 is row["ClsId"] -->
                            <!-- <form action="/admin/edit/program/name" method="POST"> -->
                            <td align= 'left'>
                            {{program['program_id']}}
                            </td>
                            <!-- </form> -->
                            <td align = 'left'>
                                {{program['program_name']}}
                                <!-- <a href="
                                {{'/admin/programs/modules?program_id=%s&program_name=%s' %(program['program_id'],
                                program['program_name'])}} "
                                >
                                {{program['program_name']}}
                                </a> -->
                            </td>
                            <!-- <td align = 'left'>
                                {{program['description']}}
                            </td> -->
                            <td align = 'left'>
                                {{program['program_availability']}}
                            </td>

                            <!-- <td align="right">
                            <a href="{{'/admin/programs/edit/name?program_id=%s&program_name=%s' %(program['program_id'], program['program_name'])}}" class="btn btn-secondary" role="button"> Edit </a>
                            </td> -->

                            <td align="right">
                                <a href="{{'/admin/programs/edit?program_id=%s' %program['program_id']}}" class="btn btn-default btn-sm" role="button"> <span class="glyphicon glyphicon-pencil"></span> Edit </a>
                            </td>

                            <td align = right>
                                <form action="{{'/admin/programs/delete/program?program_id=%s' %program['program_id']}}" method = 'POST' onsubmit="return isConfirmed(this);"> <input type="submit" value="Delete">
                                <!-- <button class="pure-button pure-button-primary deny" type="submit" formaction="config" formmethod="get"> Cancel</button>
                                <button class="pure-button button-warning confirm" type="submit"
                                formaction="config" formmethod="post"> Confirm </button> -->
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </table>
        <!-- </form> -->

        <hr>

        {% include 'admin_create_program.html'%}

        <!-- <a href="/admin/programs/create_program"> Create New Program</a> -->

        <script>
            function isConfirmed (form) {
            if(confirm('Are you sure you want to delete?')) {
                return true;
            }
            else {
                // alert('Cancelled deletion.');
                return false;
            }
        }


        </script>

    </body>
</html>