<!-------------------------------------------------------->
<strong>Program Name: </strong>
{{program['program_name']}}
<button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#change_pgm_name">
    <span class="glyphicon glyphicon-pencil"></span> Edit
</button>
<br> <br>

<!-- modal for changing pgm name -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_pgm_name" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Change Program Name</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/name'}}" method='POST'>
                        <strong>Current Name:</strong>
                        <br>
                        {{program['program_name']}}
                        <br>
                        <br>

                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <label for="contentLinkInput" class = "form-label"><strong>New Program Name: </strong></label>

                        <input type="text" class="form-control" id="newProgramNameInput" name="new_program_name">

                        <br>
                        <input type="submit" class="btn btn-outline-secondary" value="Save">
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>

<!--------------------------------------------------------->

<strong>Program Description: </strong>
{{program['program_description']}}
<button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#change_pgm_desc">
    <span class="glyphicon glyphicon-pencil"></span> Edit
</button>
<br> <br>

<!-- modal for changing pgm desc -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_pgm_desc" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Program Description</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/description'}}" method='POST'>

                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <strong>Current Description:</strong>
                        {{program['description']}}
                        <br>

                        <strong>New Description: </strong>
                        <textarea class="form-control" rows="5" name="new_program_description"></textarea>
                        <input type="submit" value="Save">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-------------radio button for program availability------------------>
<strong>Program Availability: </strong>
{{program['program_availability']}}
<button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#change_pgm_avail">
    <span class="glyphicon glyphicon-pencil"></span> Edit
</button>
<br>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_pgm_avail" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Program Availability</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/availability'}}" method='POST'>
                        <input type="hidden" name="program_id" value="{{program['program_id']}}">
                        <strong>Current Availability:</strong> {{program['program_availability']}}
                        <br>
                        <strong>Update Availability: </strong>

                        {% if program['program_availability'] == 'all' %}
                        <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "all" checked>Available to <em>all</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "none">Available to <em>none</em></label>
                          </div>
                        {% else %}
                        <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "all">Available to <em>all</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "none" checked>Available to <em>none</em></label>
                        </div>
                        {% endif %}

                        <input type="submit" value="Save">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
