<!-------------------------------------------------------->
<strong>Program Name </strong>
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit_program_name" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button>
<br>

{{program['program_name']}}
<br> <br>

<div class="container">
    <div class="modal fade" id="edit_program_name" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Program Name</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/name'}}" method='POST'>
                        <strong>Current Program Name:</strong>
                        <br>
                        {{program['program_name']}}
                        <br>
                        <br>

                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <label for="newProgramNameInput" class = "form-label"><strong>New Program Name: </strong></label>

                        <input type="text" class="form-control" id="newProgramNameInput" name="new_program_name">

                        <br>
                        <input type="submit" class="btn btn-outline-secondary" value="Save">
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>

<!--------------------------------------------------------->

<strong>Program Description </strong>
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit_program_description" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button>
<br>

{{program['program_description']}}
<br> <br>


<div class="container">
    <div class="modal fade" id="edit_program_description" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Edit Program Description</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/description'}}" method='POST'>

                        <strong>Current Program Description:</strong>
                        <br>
                        {{program['program_description']}}
                        <br>
                        <br>

                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <label for="newProgramDescInput" class="form-label"> <strong>New Program Description: </strong></label>

                        <textarea class="form-control" id="newProgramDescInput" name="new_program_description" rows="3"></textarea>

                        <br>

                        <input type="submit" class="btn btn-outline-secondary" value="Save">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-------------radio button for program availability------------------>
<strong>Program Availability </strong>
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit_program_availability" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button>

<br>
{{program['program_availability']}}
<br> <br>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="edit_program_availability" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Edit Program Availability</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/availability'}}" method='POST'>
                        <strong>Current Program Availability:</strong>
                        <br>
                        {{program['program_availability']}}
                        <br>
                        <br>

                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <label for="newProgramAvailInput" class="form-label"><strong> New Program Availability: </strong> </label>

                        {% if program['program_availability'] == 'all' %}
                        <div class="radio">
                            <label> <input type="radio" name="new_program_availability" value = "all" checked> Available to <em>all</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "none"> Available to <em>none</em></label>
                          </div>
                        {% else %}
                        <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "all"> Available to <em>all</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "none" checked> Available to <em>none</em></label>
                        </div>
                        {% endif %}

                        <br>

                        <input type="submit" class="btn btn-outline-secondary" value="Save">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
