<!-- modal for changing module name -->
<!-- Trigger the modal with a button -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="create_program" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Program</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action = "/admin/programs/create" method = "POST">

                        <!-- program name -->
                        Program Name: <input type = "text" name = "program_name"> <br> <br>

                        Program Description: <input type = "text" name = "program_description"> <br> <br>

                        <p> Update Availability: </p>

                        <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "all" checked>Available to <em>all</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_program_availability" value = "none">Available to <em>none</em></label>
                          </div>
                        <br>

                        <input type="submit" value="Submit">

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>

