<!-- edit module name -->

<strong>Module Name: </strong>
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_name" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button><br>
{{module['module_name']}}
<br><hr>

<!-- modal for changing module name -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_name" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Module Name</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/name" method='POST'>

                        <strong>Current Module Name:</strong>
                        <br>
                        {{module['module_name']}}
                        <br>
                        <br>

                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <label for="newModuleNameInput" class = "form-label"><strong>New Module Name: </strong></label>

                        <input type="text" class="form-control" id="newModuleNameInput" name="new_module_name">

                        <br>
                        <input type="submit" class="btn btn-outline-secondary" value="Save">

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- edit module link -->
<strong>Content Link: </strong>
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_content_link" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button>
<br>
{{module['content_link']}}
<br><hr>

<!-- modal for changing module link -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_content_link" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Content Link</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/link" method='POST'>
                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <strong>Current Content Link:</strong>
                        <br>
                        {{module['content_link']}}
                        <br>
                        <br>

                        <label for="contentLinkInput" class = "form-label"><strong>New Content Link: </strong></label>

                        <input type="text" class="form-control" id="contentLinkInput" name="new_content_link">

                        <br>
                        <input type="submit" class="btn btn-outline-secondary" value="Save">



                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- BUTTON: edit module content type -->
<strong>Content Type: </strong>
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_content_type" style="font-size:14px; padding:2px 2px;">
    <i class="material-icons" style="font-size:20px;">&#xe254;</i>
</button>
<br>
{% if module['content_type'] == "text" %}
non-assessment
{% else %}
{{module['content_type']}}
{% endif %}
<br>

<!-- modal for changing module content_type -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_content_type" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Content Type</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/content_type" method='POST'>
                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{program['program_id']}}">

                        <strong>Current Content Type:</strong>
                        <br>
                        {% if module['content_type'] == "text" %}
                        non-assessment
                        {% else %}
                        {{module['content_type']}}
                        {% endif %}
                        <br>
                        <br>

                        <strong>New Content Type: </strong><br>

                        {% if module['content_type'] == "assessment" %}
                        <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "text"> Set as <em>non-assessment</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "assessment" checked> Set as <em>assessment</em></label>
                          </div>
                          {% else %}
                          <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "text" checked> Set as <em>non-assessment</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "assessment"> Set as <em>assessment</em></label>
                          </div>

                        {% endif %}
                        <br>
                        <input type="submit" class="btn btn-outline-secondary" value="Save">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>