<!-- edit module name -->
<strong>Module Id: </strong> {{module['module_id']}} <br>

<strong>Module Name: </strong> {{module['module_name']}}
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_name">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
<br>

<!-- modal for changing module name -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_name" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Module Name</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/name" method='POST'>
                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{pgm_data['program_id']}}">
                        <strong>Current Name:</strong>
                        {{module['module_name']}}
                        <br>
                        <table>
                            <tr>
                                <td align= "right"> <strong>New Name: </strong></td>
                                <td align="right"> <input type="text"
                                    name="new_module_name"></td>
                                <td align="left">
                                    <input type="submit" value="Save">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>

<strong>Module Index: </strong> {{module['module_index']}} <br>
<!-- <strong>Content Type: </strong> {{module['content_type']}} <br> -->

<!-- edit module link -->
<strong>Content Link: </strong> {{module['content_link']}}
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_content_link">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
<br>

<!-- modal for changing module link -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_content_link" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Content Link</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/link" method='POST'>
                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{pgm_data['program_id']}}">

                        <strong>Current Link:</strong>
                        {{module['content_link']}}
                        <br>
                        <table>
                            <tr>
                                <td align= "right"> <strong>New Link: </strong></td>
                                <td align="right"> <input type="text"
                                    name="new_module_link"></td>
                                <td align="left">
                                    <input type="submit" value="Save">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- BUTTON: edit module content type -->
<strong>Content Type: </strong> {{module['content_type']}}
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#change_{{module['module_id']}}_content_type">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
<br>

<!-- modal for changing module content_type -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="change_{{module['module_id']}}_content_type" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Content Type</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="/admin/programs/modules/edit/content_type" method='POST'>
                       <label><strong>Current Content Type:</strong> {{module['content_type']}} <br></label>

                        <input type="hidden" name="module_id" value="{{module['module_id']}}">
                        <input type="hidden" name="program_id" value="{{pgm_data['program_id']}}">

                        <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "text" checked>Available to <em>text</em></label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="new_content_type" value = "assessment">Available to <em>assessment</em></label>
                          </div>
                        <input type="submit" value="Save">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>