<!-- modal for changing module name -->
<!-- Trigger the modal with a button -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="add_module" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insert Module </h4>
                </div>
                <div class="modal-body container-fluid">
                    <form action="{{'/admin/programs/edit/add_module'}}" method='POST'>
                        <input type="hidden" name="program_id" value="{{program['program_id']}}">
                        <!-- <table >
                            <tr>
                                <td align= "right"> Module Name : </td>
                                <td align="left">
                                    <input type = "text"
                                    name = "module_name"> <br>
                                </td>
                            </tr>

                            <br>

                            <tr>
                                <td align= "right"> Content Link : </td>
                                <td align="left">
                                    <input type = "text"
                                    name = "content_link"> <br>
                                </td>
                            </tr>
                            <tr>
                                <td align = "right"></td>
                                <td align = "left"><input type="submit"
                                    value="Submit"> </td>
                            </tr> -->

                        Module Name: <input type = "text"
                                name = "module_name"> <br> <br>

                        Content Link: <input type = "text"
                                name = "content_link"> <br> <br>

                        <p> Content Type: <p>
                            <div class="radio">
                                <label><input type="radio" name="content_type" value = "text" checked>Available to <em>text</em></label>
                                </div>
                                <div class="radio">
                                <label><input type="radio" name="content_type" value = "assessment">Available to <em>assessment</em></label>
                                </div>
                            <br>
                        <!-- </table> -->

                        <input type="submit" value="Submit">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
